<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
    <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/lecture/lecture.css}">
</th:block>

<!-- page 고유 javascript -->
<th:block layout:fragment="script">
    <script th:src="@{/js/lecture/lectureApply.js}"></script>
</th:block>

<!-- content start -->
<th:block layout:fragment="content" >
    <div class="col-md-5" style="width: 100%; margin-left: 150px;">
        <div style="margin-top: 30px;">
            <p class="mb-5" style="font-size: 17px; color: dimgrey;">수업 정보 > 수강 신청 > 개설 강의 목록</p>
            <div class="title" style="margin-bottom: 40px; font-size: 25px; margin-left: 85px;">| &nbsp; 개설 강의 목록 </div>
        </div>
    </div>
    <div class="container rounded shadow py-3 mb-5">
        <div class="box justify-content-center align-items-center" style="height:735px; overflow: auto;">
        <table class="table table-hover mt-3 mb-3">
            <thead>
            <tr>
                <th class="title text-center">강의년도</th>
                <th class="title text-center">강의 과정</th>
                <th class="title text-center">강의명</th>
                <th class="title text-center">강의 시작일</th>
                <th class="title text-center">강의 종료일</th>
                <th class="title text-center">수강신청</th>
            </tr>
            </thead>

            <tbody class="row-6" th:each="lecture : ${lectureInfo}">
            <tr th:attr="data-lecture-no=${lecture.lectureNo}">
                    <td class="text-center" style="width:12%" th:text="${lecture.lectureYear}"></td>
                    <td class="text-left" style="width:15%" th:text="${lecture.lectureCourse}"></td>
                    <td><a th:href="@{/lms/online/lecture-info/{lectureNo}(lectureNo=${lecture.lectureNo})}"
                           th:text="${lecture.lectureTitle}" class="custom-link" style="width:22%"></a></td>
                    <td class="text-center" style="width:17%"
                        th:text="${#temporals.format(lecture.lectureStartAt, 'yyyy-MM-dd')}"></td>
                    <td class="text-center" style="width:17%"
                        th:text="${#temporals.format(lecture.lectureEndAt, 'yyyy-MM-dd')}"></td>
                    <td class="text-center" style="width:17%">
                        <button class="apply-button" th:attr="data-lecture-no=${lecture.lectureNo}"
                                onclick="applyForLecture(this)">수강신청
                        </button>
                    </td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</th:block>
<!-- content end -->
</html>