<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
    <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/lecture/lecture.css}">
</th:block>

<!-- page 고유 javascript -->
<th:block layout:fragment="script">
    <script th:src="@{js/js.js}"></script>
</th:block>

<!-- content start -->
<th:block layout:fragment="content">

    <div class="col-md-5" style="width: 100%; margin-left: 150px;">
        <div style="margin-top: 30px;">
            <p class="mb-5" style="font-size: 17px; color: dimgrey;">수업 정보 &nbsp; > &nbsp; 나의 강의실 &nbsp; > &nbsp; 강의 계획서</p>
            <div class="title" style="margin-bottom: 40px; font-size: 25px; margin-left: 85px;">| &nbsp; 강의 계획서</div>
        </div>
    </div>
    <div class="container rounded shadow py-3 mb-5">
        <div class="box" style="position: relative; height:735px; overflow: auto;">
            <!-- 뒤로가기 -->
            <input type="button" value="BACK" onClick="history.go(-1)"
                   style="position: absolute; right: 18%; top: 8%; background-color: #0056b3">

            <input type="hidden" id="lectureInfo-lectureNo" th:value="${lectureInfo.lectureNo}">
            <div style="border: 0px solid red; margin-top: 130px; padding-left: 150px;">
                <div class="content-item" style="margin-top: 100px;" >
                    <div class="content-label title rounded-2">강의 명</div>
                    <div class="content-value rounded-2" th:text="${lectureInfo.lectureTitle}"></div>
                </div>
                <div class="content-item mt-2">
                    <div class="content-label title rounded-2">강의 과정</div>
                    <div class="content-value rounded-2" th:text="${lectureInfo.lectureCourse}"></div>
                </div>
                <div class="content-item mt-2">
                    <div class="content-label title rounded-2">강의 시작일</div>
                    <div class="content-value rounded-2" th:text="${#temporals.format(lectureInfo.lectureStartAt, 'yyyy년 MM월 dd일')}"></div>
                </div>
                <div class="content-item mt-2">
                    <div class="content-label title rounded-2">강의 종료일</div>
                    <div class="content-value rounded-2" th:text="${#temporals.format(lectureInfo.lectureEndAt, 'yyyy년 MM월 dd일')}"></div>
                </div>
                <div class="content-item mt-5 mb-5">
                    <div class="content-label title rounded-2" style="line-height: 170px;">강의 설명</div>
                    <div class="content-value rounded-2" th:text="${lectureInfo.lectureDesc}" style="word-break: break-all; white-space: pre-line"></div>
                </div>
            </div>
        </div>

    </div>
</th:block>


<!-- content end -->
</html>