<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
    <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/lecture/lecture.css}">
</th:block>

<!-- page 고유 javascript -->
<th:block layout:fragment="script">
    <script th:src="@{js/js.js}"></script>
</th:block>

<!-- content start -->
<section layout:fragment="content" style="width: 85%; height:600px">
    <!-- 뒤로가기 -->
    <input type="button" value="BACK" onClick="history.go(-1)" class="mt-4 mb-2">

    <input type="hidden" id="lectureInfo-lectureNo" th:value="${lectureInfo.lectureNo}">

    <div class="content-item">
        <div class="content-label">강의 명</div>
        <div class="content-value" th:text="${lectureInfo.lectureTitle}"></div>
    </div>
    <div class="content-item">
        <div class="content-label">강의 과정</div>
        <div class="content-value" th:text="${lectureInfo.lectureCourse}"></div>
    </div>
    <div class="content-item">
        <div class="content-label">강의 시작일</div>
        <div class="content-value" th:text="${#temporals.format(lectureInfo.lectureStartAt, 'yyyy년 MM월 dd일')}"></div>
    </div>
    <div class="content-item">
        <div class="content-label">강의 종료일</div>
        <div class="content-value" th:text="${#temporals.format(lectureInfo.lectureEndAt, 'yyyy년 MM월 dd일')}"></div>
    </div>
    <div class="content-item">
        <div class="content-label">강의 설명</div>
        <div class="content-value" th:text="${lectureInfo.lectureDesc}" style="word-break: break-all; white-space: pre-line"></div>
    </div>
</section>


<!-- content end -->
</html>