<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
    <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/lecture/lecture.css}">
</th:block>

<!-- page 고유 javascript -->
<th:block layout:fragment="script">
    <script th:src="@{/js/lecture/myLectureList.js}"></script>
</th:block>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

<!-- content start -->
<th:block layout:fragment="content" style="width: 85%; height: 850px">

    <div class="col-md-5" style="width: 100%; margin-left: 150px;">
        <div style="margin-top: 30px;">
            <p class="mb-5" style="font-size: 17px; color: dimgrey;">수업 정보 > 나의 강의실</p>
            <p style="margin-bottom: 40px; font-size: 25px; margin-left: 85px;">| 나의 강의실</p>
        </div>
    </div>

    <div class="container rounded shadow mb-5">
        <div class="box" style="height:735px; overflow: auto;">

            <div th:if="${not #lists.isEmpty(lectures)}" style="margin-top: 70px; width: 70%; margin-left: 180px;">
                <!-- 수강 중인 강의 목록이 있는 경우 -->
                <div th:each="lecture, lectureStat : ${lectures}">
                    <div class="accordion-item" style="margin-top: 40px;">

                        <button class="class_info accordion-button mt-4 mb-4 ">
                            <i class="fa-solid fa-computer" style="color: #0056b3; margin-right: 20px;"></i>
                            <span class="accordion-title grid1_lect_info title" th:text="|강의 명 &nbsp : &nbsp &nbsp ${lecture.lectureTitle}|"
                                  style="border-bottom: 2px dashed black; width: 840px; height: 40px;"></span>
                            <span class="icon" aria-hidden="true"><i class="fas fa-caret-down" style="color: #0056b3;"></i></span> <!-- Font Awesome down arrow icon initially -->
                        </button>

                        <div class="accordion-content" style="display: none;">
                            <input type="hidden" th:value="${lecture.lectureNo}">
                            <a th:href="@{/lms/online/lecture-info/{lectureNo}(lectureNo=${lecture.lectureNo})}" style="text-decoration: none; margin-left: 40px;">

                                <button>강의 계획서</button>
                            </a>

                            <button th:attr="data-lecture-list=${lecture.lectureNo}"
                                    onclick="window.location.href='/lms/online/attendance/'
                                            + this.getAttribute('data-lecture-list')">출결 조회
                            </button>
                            <button onclick="window.location.href='/lms/materials'">강의 자료</button>
                            <button class="LectureListBtn" th:attr="data-lecture-list=${lecture.lectureNo}"
                                    onclick="window.location.href='/lms/online/progress-info-list/'
                                            + this.getAttribute('data-lecture-list')">온라인 강의
                            </button>
                            <button onclick="window.location.href='/lms/questions'">질의 응답</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 수강 중인 강의 목록이 없는 경우 -->
    <div th:if="${#lists.isEmpty(lectures)}" style="text-align: center; margin-top: 100px;">
        <p style="margin-bottom: 30px; font-size: 30px;">수강 중인 강의가 없습니다.</p>
        <a th:href="@{/lms/online/lecture-all}">
            <button class="apply-button" style="font-size: 20px;">수강신청 페이지로 이동</button>
        </a>
    </div>
</th:block>
<!-- content end -->

</html>