<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
    <title>Content page</title>
</head>
    <!-- page 고유 css -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{css/css.css}">
    </th:block>

    <!-- page 고유 javascript -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/lecture/myLectureList.js}"></script>
    </th:block>

    <!-- content start -->
    <section layout:fragment="content">
        <h3>내 수강 강의 목록</h3>
        <div th:if="${not #lists.isEmpty(lectures)}">
            <!-- 수강 중인 강의 목록이 있는 경우 -->
            <div th:each="lecture, lectureStat : ${lectures}">
                <div class="accordion-item">
                    <button class="class_info accordion-button">
                        <!-- 강의명 -->
                        <span class="accordion-title grid1_lect_info" th:text="|과목 : ${lecture.lectureTitle}|"></span>
                        <span class="icon" aria-hidden="true"></span>
                    </button>
                    <div class="accordion-content" style="display: none">
                        <div>
                            <div>
                                <input type="hidden" th:value="${lecture.lectureNo}">
                                <a th:href="@{/lms/online/lecture-info/{lectureNo}(lectureNo=${lecture.lectureNo})}">
                                    <button>강의계획서</button>
                                </a>
                                <button>출결조회</button>
                                <button>강의 자료</button>
                                <button>온라인강좌</button>
                                <button>질문</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${#lists.isEmpty(lectures)}">
            <!-- 수강 중인 강의 목록이 없는 경우 -->
            <P> 수강 중인 강의가 없습니다. </P>
            <a th:href="@{/lms/online/lecture-all}">
                <button>수강신청 페이지로 이동</button>
            </a>
        </div>
    </section>
    <!-- content end -->
</html>