.formBox {
    width: 300px;
    margin-left: 110px;
}

.userImgBox{
    margin-right: 70px;
    width: 300px;
}

.userImgBox img{
    width: 180px; height: 180px;
}

.userInfoBox {
    width: 500px;
    margin-top: 53px;
}

.userInfoBox div {
    width: 600px;
}

.myLectureList {
    margin-right: 20px;
}
