<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
  <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{css/css.css}">
</th:block>

<!-- page 고유 javascript -->
<th:block layout:fragment="script">
  <script th:src="@{/js/survey/surveyUpdate.js}"></script>
</th:block>

<!-- content start -->
<section layout:fragment="content">
  <div class="container">
    <h3>강의평가 문항 관리</h3>
    <button class="btn btn-primary" id="surveyQuesAdd">등록</button>
    <button class="btn btn-warning" id="surveyQuesEdit">수정</button>
    <button class="btn btn-danger" id="surveyQuesDelete">삭제</button>
    <div style="display: flex">
        <table class = "table table-hover">
        <thead>
        <tr>
          <th>문항레벨</th>
          <th>문항분류</th>
          <th>문항명</th>
          <th>답변유형</th>
          <th>순서</th>
          <th>사용</th>
        </tr>
        </thead>

        <tbody class="row-6" th:each="questions : ${surveyQuesInfoList}">
        <tr>
          <div>
            <td th:text="${#strings.equals(questions.surveyQuesNo, 1) or
                           #strings.equals(questions.surveyQuesNo, 2) or
                           #strings.equals(questions.surveyQuesNo, 3) or
                           #strings.equals(questions.surveyQuesNo, 4) or
                           #strings.equals(questions.surveyQuesNo, 5) ? '분류' : '문항'}"></td>
            <td></td>
            <td th:text="${questions.surveyQuesName}"></td>
            <td th:text="${questions.surveyQuesType}"></td>
            <td th:text="${questions.surveyQuesViewNo}"></td>
            <!-- 체크박스 -->
            <td>
              <input type="checkbox"  class="survey-checkbox" />
            </td>
          </div>
        </tr>
        </tbody>
      </table>

      <!-- 강의 평가 문항 section -->
      <div>
        <form id="surveyQuestionForm" th:object="${surveyQuesInfoRequest}" autocomplete="off">
            <div>
              <label for="surveyQuesNo">문항번호</label>
              <input type="text" id="surveyQuesNo" th:field="*{surveyQuesNo}">
            </div>
            <div>
              <label for="parentQuesNo">문항레벨구분</label>
              <select id="parentQuesNo" name="parentQuesNo" th:field="*{parentQuesNo}">
                <option value="1">분류</option>
                <option value="2">문항</option>
              </select>
            </div>
            <div>
              <label for="slt_inp1_cls_no">문항분류</label>
              <select id="slt_inp1_cls_no" class="slt_default auto_combo">
                <option value="1">[전체]강의내용</option>
                <option value="2">[전체]강의난이도</option>
                <option value="3">[전체]유익성</option>
                <option value="4">[전체]수강생참여도</option>
                <option value="5">[전체]수업준비</option>
                <option value="6">[전체]강의방식</option>
              </select>
            </div>
            <div>
              <label for="txt_inp1_item_nm" class="lbl_chk">문항명</label>
              <textarea id="txt_inp1_item_nm" rows="2" maxlength="100" class="width_100 textarea_md"></textarea>
            </div>
            <div>
              <label id="lbl_inp1_ans_div" for="slt_inp1_ans_div">답변유형</label>
              <select id="slt_inp1_ans_div" class="slt_default auto_combo">
                <option value="10">직접입력</option>
                <option value="50">5문항선택</option>
              </select>
            </div>
            <div>
              <p>필수여부</p>
              <div class="custom onlybox div_side_gap_10">
                  <label class="custom-checkbox_radio custom-checkbox div_right_gap_unset" for="chk_inp1_req_yn">&nbsp;
                    <input type="checkbox" name="unset" id="chk_inp1_req_yn">
                    <span class="checkmark"></span>
                  </label>
              </div>
            </div>
            <div>
              <label for="txt_inp1_ord">정렬순서</label>
              <input type="text" id="txt_inp1_ord" class="txt_default" maxlength="3" oninput="fn_onlyNumber(this)">
            </div>
            <div>
              <p>사용여부</p>
              <div class="custom onlybox div_side_gap_10">
              <input type="checkbox" name="unset" id="chk_inp1_use_yn">
              </div>
            </div>

          <input type="submit" value="등록">
        </form>
      </div>
    </div>
  </div>
</section>
<!-- content end -->
</html>