<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_admin.html}">
<head>
    <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/lecture/lecture.css}">
</th:block>

<!-- page 고유 javascript -->
<th:block layout:fragment="script">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:src="@{/js/survey/surveyResult.js}"></script>
</th:block>

<!-- content start -->
<th:block layout:fragment="content">
    <div class="col-md-5" style="width: 100%; margin-left: 150px;">
        <div style="margin-top: 30px;">
            <p class="mb-4" style="font-size: 17px; color: dimgrey;">수업 관리 > 강의평가 결과</p>
            <p class="title mb-5" style="font-size: 25px; margin-left: 115px;">| &nbsp; 강의평가 결과 </p>
        </div>
    </div>
    <div class="container rounded shadow mb-5">
        <h4 class="title mt-3 mb-3" style="font-size: 25px;"
            th:text="${lectureInfo.lectureTitle}"></h4>
        <div class="box" style="height:500px; display: flex">
            <div style="width: 50%">
                <label for="surveyQuestionNo">객관식 : </label>
                <select id="surveyQuestionNo">
                    <option value="" disabled selected>문항을 선택해주세요</option>
                    <option th:each="quesInfo : ${surveyQuesInfoList}"
                            th:if="${quesInfo.parentQues != null and quesInfo.surveyQuesType eq '1'}"
                            th:value="${quesInfo.surveyQuesNo}"
                            th:text="${quesInfo.surveyQuesName}"></option>
                </select>


                <!-- 여러 평가 문항 차트를 표시할 div 추가 -->
                <div id="chart_div" style="width: 100%; height: 400px; ">
                </div>
            </div>

            <div style="width: 50%">
                <!-- 주관식 -->
                <label for="surveyQuesNo">주관식: </label>
                <select id="surveyQuesNo">
                    <option value="" disabled selected>문항을 선택해주세요</option>
                    <option th:each="quesInfo : ${surveyQuesInfoList}"
                            th:if="${quesInfo.parentQues != null and quesInfo.surveyQuesType eq '2'}"
                            th:value="${quesInfo.surveyQuesNo}"
                            th:text="${quesInfo.surveyQuesName}"></option>
                </select>

                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th style="display:none;">평가문항번호</th>
                        <th>답변</th>
                    </tr>
                    </thead>

                    <tbody class="row-6" th:each="answer : ${surveyAnswerList}" th:if="${answer.surveyAnsScore} == null">
                    <tr th:attr="data-survey-question-no=${answer.surveyQuesNo}">
                        <td th:text="${answer.surveyQuesNo}" style="display: none"></td>
                        <td th:text="${answer.surveyAnsName}" style="text-align: left"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
<!-- content end -->
</html>