<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_admin.html}">
<head>
    <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/survey/surveyResultList.css}">
</th:block>

<!-- page 고유 javascript -->
<th:block layout:fragment="script">
    <script th:src="@{/js/survey/surveyResultList.js}"></script>
</th:block>

<!-- content start -->
<th:block layout:fragment="content">
    <div class="col-md-5" style="width: 100%; margin-left: 150px;">
        <div style="margin-top: 30px;">
            <p class="mb-4" style="font-size: 17px; color: dimgrey;">수업 관리 > 강의평가 결과</p>
            <p class="title mb-5" style="font-size: 25px; margin-left: 115px;">| &nbsp; 강의평가 결과 </p>
        </div>
    </div>
    <div class="container rounded shadow mb-5">
        <div class="box" style="height:735px; overflow: auto;">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th class="text-center">강의년도</th>
                    <th class="text-center">강의 과정</th>
                    <th class="text-center">강의명</th>
                    <th class="text-center">강의 시작일</th>
                    <th class="text-center">강의 종료일</th>
                    <th class="text-center">강의평가결과</th>
                </tr>
                </thead>

                <tbody class="row-6" th:each="lecture : ${lectureInfo}">
                <tr th:attr="data-lecture-no=${lecture.lectureNo}">
                    <div>
                        <td class="text-center" style="width:12%" th:text="${lecture.lectureYear}"></td>
                        <td class="text-left" style="width:15%" th:text="${lecture.lectureCourse}"></td>
                        <td><a th:href="@{/lms/online/lecture-info/{lectureNo}(lectureNo=${lecture.lectureNo})}"
                               th:text="${lecture.lectureTitle}" class="custom-link" style="width:22%"></a></td>
                        <td class="text-center" style="width:17%"
                            th:text="${#temporals.format(lecture.lectureStartAt, 'yyyy-MM-dd')}"></td>
                        <td class="text-center" style="width:17%"
                            th:text="${#temporals.format(lecture.lectureEndAt, 'yyyy-MM-dd')}"></td>
                        <td class="text-center" style="width:17%">
                            <button onclick="viewSurveyResult(this)" class="survey-result-button"
                                    th:attr="data-lecture-no=${lecture.lectureNo}">강의평가결과
                            </button>
                        </td>
                    </div>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</th:block>
<!-- content end -->
</html>