.box {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.box::-webkit-scrollbar {
    display: none;
}

table thead {
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.hidden-row {
    display: none;
}

th, td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f0f0f0;
}

tr:hover {
    background-color: #f9f9f9;
}

.contentDetailsTable {
    width: 50%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.contentDetailsTable th, .contentDetailsTable td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}

.search {
    margin-left: 10px;
    cursor: pointer;
}

.divBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchDiv {
    display: flex;
    align-items: center;
}

.buttonDiv {
    display: flex;
}

#progressForm {
    width: 93%;
    margin-left: auto;
    text-align: left;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#progressForm div {
    margin: 10px;
}

#progressForm label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

#progressForm input[type="text"],
#progressForm input[type="date"],
#progressForm select,
#progressForm textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#progressForm textarea {
    resize: vertical;
}

#progressForm select {
    width: 100%;
}