<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtube</title>
</head>
<body>

<th:block layout:fragment="script">
    <script th:src="@{/js/video/ytbPlaylist.js}"></script>
</th:block>

<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/lecture/lecture.css}">
</th:block>

<th:block layout:fragment="content">

    <div class="col-md-5" style="width: 100%; margin-left: 150px;">
        <div style="margin-top: 30px;">
            <p class="mb-5" style="font-size: 17px; color: dimgrey;">수업 정보 &nbsp; > &nbsp; 나의 강의실 &nbsp; > &nbsp; 출결 조회</p>
            <div class="title" style="margin-bottom: 40px; font-size: 25px; margin-left: 85px;">| &nbsp; 출결 조회</div>
        </div>
    </div>

    <!-- 출결 조회 -->
    <div class="container rounded shadow py-3 mb-5">
        <div class="box" style="height:735px; overflow: auto;">

            <div style="position: relative;">
                <!-- 뒤로가기 -->
                <input type="button" value="BACK" onClick="history.go(-1)"
                       style="position: absolute; right: 7%; margin-top: 30px; background-color: #0056b3">
            </div>

            <div class="col"  style="padding-left: 60px; padding-right: 60px;">
                <table class="table table-hover" style="margin-top: 100px;">
                    <thead >
                    <tr style="margin-right: 20px;">
                        <th class="title" style="background-color: #ECF2FF; border-top-left-radius: 10px; padding-left: 20px; padding-right: 20px;" >차시</th>
        <!--                <th style="display: none">차시 번호</th>-->
                        <th class="title" style="background-color: #ECF2FF; padding-left: 20px; padding-right: 20px;">강의명</th>
                        <th class="title" style="background-color: #ECF2FF; border-top-right-radius: 10px; padding-left: 20px; padding-right: 20px;">출석</th>
                    </tr>
                    </thead>

                    <tbody class="row-2" >
                    <tr th:each="content, iterStat : ${contentList}">
                        <td>[[${iterStat.count}]]</td>
                        <td th:text="${content.contentName}" ></td>
                        <!-- 출석 - progress의 진도율이 80이상일 때 라디오 버튼 체크 -->
                        <td></td>
        <!--                <td th:text="${attd.memberAttendance}">-->
        <!--                    <input type="radio"-->
        <!--                           th:disabled="${!attd.memberAttendance}"-->
        <!--                           th:checked="${attd.memberAttendance}" />-->
        <!--                </td>-->
                    </tr>
                    </tbody>

                </table>
            </div>
        </div>
    </div>

</th:block>
</body>
</html>