<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_admin.html}">
<head>
    <meta charset="UTF-8">
    <title>콘텐츠 목록 전체 조회</title>
</head>
<body>

<th:block layout:fragment="script">
    <script th:src="@{/js/video/content.js}"></script>
</th:block>

<th:block layout:fragment="content">

    <h3 style="">콘텐츠 관리</h3>
    <!-- 전체 강의 리스트 -->
    <div class="container">

        <!--        콘텐츠 파일번호, 재생 시간을 유튜브에서 제공해주지 않아 값이 없어서 우선 제외했습니다-->
            <table class = "table table-hover">
                <thead>
                <tr>
                    <th>콘텐츠 관리 번호</th>
                    <th>콘텐츠 명</th>
                    <th>콘텐츠 설명</th>
<!--                    <th>콘텐츠 파일번호</th>-->
                    <th>Youtube 연동번호</th>
                    <th>콘텐츠 호출 URL</th>
                    <th>재생 시간</th>
                </tr>
                </thead>

                <tbody class="row-7" th:each="content : ${contentInfo}">
                <tr>
                    <!-- 콘텐츠 리스트 출력 -->
                    <td th:text="${content.contentNo}"></td>
                    <td th:text="${content.contentName}"></td>
                    <td th:text="${content.contentDesc}"></td>
<!--                    <td th:text="${content.contentFileNo}"></td>-->
                    <td th:text="${content.ytbUrl}"></td>
                    <td th:text="${content.contentUrl}"></td>
                    <td th:text="${content.runTm}"></td>
                </tr>
                </tbody>
            </table>
        </div>

</th:block>
</body>
</html>