<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_admin.html}">
<head>
    <meta charset="UTF-8">
    <title>콘텐츠 목록 전체 조회</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/video/content.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/video/content.js}"></script>
</th:block>

<!-- content start -->
<th:block layout:fragment="content">

    <!-- 전체 강의 리스트 -->
    <div class="col-md-5" style="width: 100%; margin-left: 150px;">
        <div style="margin-top: 30px;">
            <p class="mb-5" style="font-size: 17px; color: dimgrey;">수업 관리 > 콘텐츠 관리</p>
            <p style="margin-bottom: 40px; font-size: 25px; margin-left: 85px;">| 콘텐츠 관리</p>
        </div>
    </div>
    <div class="container rounded shadow mb-5">
        <div class="box" style="height:735px; overflow: auto; display: flex;">

    <div style="width: 60%;">

        <table class = "table table-hover">
            <thead>
            <tr>
                <th>콘텐츠 관리 번호</th>
                <th>콘텐츠 명</th>
                <th>콘텐츠 설명</th>
                <th>콘텐츠 파일번호</th>
                <th>Youtube 연동번호</th>
                <th>콘텐츠 호출 URL</th>
                <th>재생 시간</th>
            </tr>
            </thead>

            <tbody class="row-7" th:each="content : ${contentList}">
            <tr>
                <!-- 콘텐츠 리스트 출력 -->
                <td th:text="${content.contentNo}"></td>
                <td th:text="${content.contentName}"></td>
                <td th:text="${content.contentDesc}"></td>
                <td th:text="${content.contentFileNo}"></td>
                <td th:text="${content.ytbUrl}"></td>
                <td th:text="${content.contentUrl}"></td>
                <td th:text="${content.runTm}"></td>
            </tr>
            </tbody>
        </table>
        </div>

    <!-- 공백 추가 -->
    <div style="width: 2%"></div>

    <!-- 폼 부분 (40%) -->
    <div style="width: 38%;">
        <div style="display: flex;justify-content: flex-end; align-items: center; "class="mt-3">
            <button id="registerBtn" class="custom-button-primary" style="margin-right: 3px;">등록</button>
            <button id="updateBtn" class="custom-button-secondary" style="margin-right: 3px;">수정</button>
            <button id="deleteBtn" class="custom-button-secondary">삭제</button>
        </div>
            <form th:action="@{/api/admin/content-edit}" id="addContentForm" method="PUT" th:object="${videoInfoRequest}" class="mt-3 mb-3">
                <div>
                    <label for="contentNo">콘텐츠 관리 번호 : </label>
                    <input type="text" id="contentNo" name="contentNo" th:field="*{contentNo}" />
                </div>
                <div>
                    <label for="contentName">콘텐츠 명 : </label>
                    <input type="text" id="contentName" name="contentName" th:field="*{contentName}" />
                </div>
                <div>
                    <label for="contentFileNo">콘텐츠 파일번호 : </label>
                    <input type="text" id="contentFileNo" name="contentFileNo" th:field="*{contentFileNo}" />
                </div>
                <div>
                    <label for="ytbUrl">Youtube 연동번호 : </label>
                    <input type="text" id="ytbUrl" name="ytbUrl" th:field="*{ytbUrl}" />
                </div>
                <div>
                    <label for="contentDesc">콘텐츠 설명 : </label>
                    <textarea id="contentDesc" name="contentDesc" th:field="*{contentDesc}" rows="4"></textarea>
                </div>
                <div>
                    <label for="contentUrl">콘텐츠 호출 URL : </label>
                    <input type="text" id="contentUrl" name="contentUrl" th:field="*{contentUrl}" />
                </div>
                <div>
                    <label for="runTm">재생 시간 : </label>
                    <input type="text" id="runTm" name="runTm" th:field="*{runTm}" />
                </div>

            </form>
        </div>
        </div>
    </div>

</th:block>

</html>