<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_admin.html}">
<head>
    <meta charset="UTF-8">
    <title>콘텐츠 목록 전체 조회</title>
</head>

<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/video/content.css}">
</th:block>

<th:block layout:fragment="script">
    <script th:src="@{/js/video/content.js}"></script>
</th:block>

<th:block layout:fragment="content">

    <!-- 전체 강의 리스트 -->
    <div class="col-md-5" style="width: 100%; margin-left: 150px;">
        <div style="margin-top: 30px;">
            <p class="mb-5" style="font-size: 17px; color: dimgrey;">수업 관리 > 콘텐츠 관리 > 콘텐츠 정보 조회</p>
            <p style="margin-bottom: 40px; font-size: 25px; margin-left: 85px;">| 콘텐츠 정보 조회</p>
        </div>
    </div>
    <div class="container rounded shadow mb-5">
        <div class="box" style="height:735px; overflow: auto; display: flex;">

    <!-- 전체 강의 리스트 -->

        <table class="table table-hover">
            <thead>
            <tr>
                <th style="text-align: center;">관리 번호</th>
                <th style="text-align: center;">콘텐츠 명</th>
                <th style="text-align: center;">콘텐츠 설명</th>
                <th style="text-align: center;">Youtube 연동번호</th>
                <th style="text-align: center;">호출 URL</th>
                <th style="text-align: center;">재생 시간</th>
            </tr>
            </thead>
            <tbody class="row-7" th:each="content : ${contentInfo}">
            <tr>
                <td th:text="${content.contentNo}" class="centered" style="width: 7%;vertical-align: middle;"></td>
                <td th:text="${content.contentName}" class="centered"style="width: 15%;vertical-align: middle;"></td>
                <td th:text="${content.contentDesc}" class="centered"style="width: 20%;vertical-align: middle;"></td>
                <td th:text="${content.ytbUrl}" style="width: 20%;vertical-align: middle;"></td>
                <td th:text="${content.contentUrl}" style="width: 28%;vertical-align: middle;"></td>
                <td class="centered" th:text="${content.runTm}" style="width: 10%;vertical-align: middle;"></td>
            </tr>
            </tbody>
        </table>
        </div>
    </div>
</th:block>
</html>