<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtube</title>
</head>
<body>
<th:block layout:fragment="script">
    <script th:src="@{/js/video/ytbPlaylist.js}"></script>
</th:block>
<th:block layout:fragment="content">

    <div style="display: flex;" th:each="content : ${contentList}">
        <!-- 사이트 참고해서 뷰 만들기!!! -->

        <!-- 주차도 나오면 좋을 거 같은데... -->
        <div>
            <h4 th:text="${content.contentName}"></h4>
            <!-- if문으로 시간들 배열로 담아서 전부 변환 (컨트롤러에서 가능?스크립트?)-->
            <div data-runTm="[[${content.runTm}]]"
                 th:attr="data-runTm=${content.runTm}">
            </div>
            <p th:text="${content.runTm}"></p>
        </div>

        <!-- 썸네일 나오는 곳 -->
        <div data-ytb-url="[[${content.ytbUrl}]]"
             th:attr="data-ytb-url=${content.ytbUrl}">
        </div>

        <!-- 콘텐츠 명, 설명 -->
        <div style="display: initial;  margin-bottom: 50px;">
            <p th:text="${content.contentDesc}"></p>
        </div>

        <!-- 재생 버튼 -->
        <button class="playBtn" style="border: none; background-color: white;">
            <i class="fa-regular fa-circle-play"
               th:attr="data-content-no=${content.contentNo}"
               onclick="window.location.href='/lms/online/view/'
               + this.getAttribute('data-content-no')"
               style=" font-size: 60px; color: black;
               width: 200px; height: 150px; padding-top: 50px;"></i>
        </button>
    </div>

</th:block>
</body>
</html>