<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>youtube</title>
</head>
<body>
<th:block layout:fragment="script">
    <script th:src="@{/js/video/ytbPlaylist.js}"></script>
</th:block>
<th:block layout:fragment="content">

    <div id="videoList">
        <!-- 비디오 목록 여기에 나열될 거임 -->
    </div>

</th:block>
</body>
</html>