<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head th:fragment="config">
    <meta charset="UTF-8"/>
    <title>thymeleaf config</title>

    <!-- 공통으로 사용하는 css -->
    <link rel="stylesheet" th:href="@{css/style.css}">

    <!-- page 고유 css -->
    <th:block layout:fragment="css"></th:block>

    <!-- 공통으로 사용하는 javascript -->
    <script th:src="@{js/index.js}"></script>

    <!-- page 고유 javascript -->
    <th:block layout:fragment="script"></th:block>

</head>
</html>