<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
    <footer th:fragment="footer" class="border-top">
        <div class="container">
            <footer>
                <ul class="nav justify-content-center mt-3 pb-3">
                    <li class="nav-item"><a href="#" class="eng nav-link px-2 text-body-secondary">Home</a></li>
                    <li class="nav-item"><a href="#" class="eng nav-link px-2 text-body-secondary">Features</a></li>
                    <li class="nav-item"><a href="#" class="eng nav-link px-2 text-body-secondary">Pricing</a></li>
                    <li class="nav-item"><a href="#" class="eng nav-link px-2 text-body-secondary">FAQs</a></li>
                    <li class="nav-item"><a href="#" class="eng nav-link px-2 text-body-secondary">About</a></li>
                </ul>
                <p class="eng text-center text-body-secondary">© 2023 Coding Master Level, Inc</p>
            </footer>
        </div>
    </footer>
</html>