<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
    <header th:fragment="header" class="p-3 border-bottom">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-between">
                <div>
                <a href="/" class="d-flex align-items-center mb-1 mb-lg-0 link-body-emphasis text-decoration-none">
                    <img src="img/logo.gif" class="bi me-2" width="80" height="80">
                    <div class="logo fs-1 text-center" style="position: relative; top: 10px;">
                        COME
                        <p class="fs-6" style="margin-top: -10px;">coding master level</p>
                    </div>
                </a>
                </div>

                <div class="d-flex justify-content-between">
                    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
                        <input type="search" class="form-control" placeholder="ㅇㅇㅇ님, 환영합니다!" aria-label="Search">
                    </form>

                    <div class="dropdown text-end">
                        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
                        </a>
                        <ul class="dropdown-menu text-small">
                            <li><a class="dropdown-item" href="#">마이페이지</a></li>
                            <li><a class="dropdown-item" href="#">나의 강의실</a></li>
                            <li><a class="dropdown-item" href="#">강의 목록</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">로그아웃</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </header>
</html>