<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_admin.html}">
<head>
    <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/board/board.css}">
</th:block>

<!-- page 고유 javascript -->
<th:block layout:fragment="script">
    <script th:src="@{/js/boards/notice.js}"></script>
    <script th:src="@{/js/boards/comment.js}"></script>
</th:block>

<!-- content start -->
<th:block layout:fragment="content">
    <div class="col-md-5" style="width: 100%; margin-left: 150px;">
        <div style="margin-top: 30px;">
            <p class="mb-4" style="font-size: 17px; color: dimgrey;">수업 정보 > 공지사항 </p>
            <div class="title mb-5" style="font-size: 25px; margin-left: 115px;">| &nbsp; 공지사항</div>
        </div>
    </div>

    <div class="container rounded shadow mb-5" style="width: 80%;">
        <div class="box p-3">

            <div class="container p-3">

                <div class="d-flex justify-content-between">
                    <input type="hidden" id="notice-postNo"
                           th:value="${notice.postNo}">
                    <h3 th:text="${notice.postTitle}" class="title mt-3 mb-3">게시글 제목</h3>
                    <div>
                        <!-- 수정 버튼 -->
                        <button type="button" id="modify-btn"
                                th:onclick="|location.href='@{/admin/new-notice?postNo={postNo}(postNo=${notice.postNo})}'|"
                                class="btn btn-primary btn-sm"
                                th:if="${currentLoginId == loginId}">수정
                        </button>

                        <!-- 삭제 버튼 -->
                        <button type="button" id="delete-btn"
                                class="btn btn-secondary btn-sm"
                                th:if="${currentLoginId == loginId}">삭제
                        </button>
                    </div>
                </div>
                <div class="d-flex justify-content-between">
                    <p th:text="|작성자:${loginId}|"></p>
                    <p th:text="|작성일자: ${#temporals.format(notice.postRtm, 'yyyy-MM-dd HH:mm')}|"></p>
                </div>

                <hr>
                <div style="height:300px;">
                    <p class="fs-6 mt-4 mb-4 text-center" th:text="${notice.postContent}"
                       style="word-break: break-all; min-height: 100px;"></p>
                    <!-- 첨부 파일 정보 표시 -->
                    <p th:if="${notice.orgFileName != null}">
                        첨부 파일:
                        <a th:href="@{'/download/' + ${notice.saveFileName}}" th:text="${notice.orgFileName}">다운로드</a>
                    </p>
                </div>
            </div>

            <!-- Comment start -->

            <div class="container">
                <div class="card" style="border: 1px solid #ccc; border-radius: 15px;">
                    <div class="card-header" style="border-radius: 15px; background-color: #f0f0f0;">
                        <span th:if="${comments.size()}" th:text="' ' + ${comments.size()} + ' 댓글'"></span>
                    </div>

                    <!-- 댓글 목록 -->
                    <ul id="comment-list" style="list-style: none; padding: 12px;">
                        <li th:each="comment : ${comments}" class="list-group-item px-3">
                            <div id="edit-cmt-box" class="d-flex justify-content-between align-items-center">
                                <div>
                                    <!-- 댓글 번호와 닉네임 -->
                                    <span class="comment-no" style="display: none;" type="hidden"
                                          th:text="${comment.commentNo}"></span>
                                    <span class="comment-nickname" style="font-size: small"
                                          th:text="${comment.loginId}"></span>
                                    <!-- 댓글 작성일 -->
                                    <span style="font-size: x-small" class="comment-date"
                                          th:text="${#temporals.format(comment.commentRtm, 'yyyy-MM-dd HH:mm:ss')}"></span>
                                    <!-- 수정 버튼 -->
                                    <button type="button" class="edit-comment-btn"
                                            style="font-size: 12px; padding: .1em .5em;"
                                            th:attr="data-commentNo=${comment.commentNo}"
                                            th:if="${currentLoginId == comment.loginId}">수정
                                    </button>

                                    <!-- 삭제 버튼 -->
                                    <button type="button" class="cmt-delete-btn"
                                            style="font-size: 12px; padding: .1em .5em;"
                                            th:attr="data-quesCmtNo=${comment.commentNo}"
                                            th:if="${currentLoginId == comment.loginId}">삭제
                                    </button>
                                    <!-- 댓글 내용 -->
                                    <span class="mt-2 comment-content" th:text="${comment.commentContent}"
                                          style="display: block; font-size: 14px; word-break: break-all;"></span>
                                    <!-- 수정 폼 -->
                                    <div class="edit-comment-form" style="display: none; width: 100%;">
                                        <label for="editCommentContent"></label>
                                        <textarea class="mt-2 edit-comment-textarea" id="editCommentContent"
                                                  style="font-size: 14px; color: #212529;" onkeyup="countingLength(this);" rows="3"></textarea>
                                        <span id="counterEdit" style="font-size: 12px; margin: 8px;"></span>
                                        <button style="font-size: 12px; padding: .1em .5em;" class="save-comment-btn">저장
                                        </button>
                                        <button style="font-size: 12px; padding: .1em .5em;" class="cancel-comment-btn">
                                            취소
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>


                    <!-- 댓글 작성 폼 -->
                    <form id="comment-form">
                        <input type="hidden" id="postNo" th:value="${notice.postNo}">
                        <div class="card-body mt-3">
                            <label for="commentContent"></label>
                            <textarea class="form-control" id="commentContent" style="font-size: 14px;"
                                      placeholder="댓글을 입력하세요" onkeyup="countingLength(this);" rows="4"></textarea>

                        </div>
                        <div class="card-body" style="float: right;">
                            <span id="counterComment" style="font-size: 12px; margin: 8px;">0/200자</span>
                            <button type="button" id="submit-comment" style="font-size: 14px; padding: .275em .5em;">
                                등록
                            </button>
                        </div>
                    </form>
                </div>
                <!-- Comment End -->

                <!-- 게시글 목록으로 돌아가는 버튼 -->
                <div class="back-button mt-2 d-flex justify-content-end">
                    <a th:href="@{/admin/notice}" style="text-decoration: none; color: black;">
                        <button id="back-button" class="btn btn-sm btn-secondary">목록으로 돌아가기</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</th:block>
<!-- content end -->
</html>