<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
    <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{css/style.css}">
</th:block>

<!-- page 고유 javascript -->
<th:block layout:fragment="script">
    <script th:src="@{/js/board.js}"></script>
</th:block>

<!-- content start -->
<section layout:fragment="content">

    <form id="question-form" action="/api/post" method="post"
          enctype="multipart/form-data">

    <div class="container">
        <h1>게시글 등록</h1>

            <input type="hidden" id="question-id" th:value="${question.postNo}">

            <header class="mb-4">
                <label for="title">제목:</label>
                <input type="text" id="postTitle" th:value="${question.postTitle}" class="form-control" required>
            </header>

            <section class="mb-5">
                <label for="content">내용:</label>
                <div class="count">
                    <span id="counterWord">0/1000자</span>
                </div>
                <textarea id="postContent" rows="10" th:text="${question.postContent}" class="form-control" required
                          onkeyup="countingLength('postContent', 'counterWord');"
                ></textarea>
            </section>

        <!-- 여러 개의 파일 업로드 input 요소 -->
        <!-- 파일 업로드 input 요소를 세 개로 분리 -->
        <div class="mb-4">
            <label for="file1">파일 업로드 1:</label>
            <input type="file" id="file1" name="file1" class="form-control-file">
        </div>

        <div class="mb-4">
            <label for="file2">파일 업로드 2:</label>
            <input type="file" id="file2" name="file2" class="form-control-file">
        </div>

        <div class="mb-4">
            <label for="file3">파일 업로드 3:</label>
            <input type="file" id="file3" name="file3" class="form-control-file">
        </div>

        <!-- 파일 목록을 표시할 ul 요소 -->
        <ul id="file-list"></ul>


        <!-- 수정/등록 버튼 -->
            <button th:if="${question.postNo} != null" type="button" id="modify-btn" class="btn btn-primary btn-sm">수정</button>
            <button th:if="${question.postNo} == null" type="button" id="create-btn" class="btn btn-primary btn-sm">등록</button>

    </div>
    </form>
</section>

</html>
