<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
    <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/progress.css}">
</th:block>

<!-- page 고유 javascript -->
<th:block layout:fragment="script">
    <script th:src="@{/js/progress.js}"></script>
</th:block>

<!-- content start -->
<section layout:fragment="content">
    <div class="container" style="display: flex; flex-direction: column;">
        <div style="flex: 1; margin-right: 20px;">
            <button onclick="lectureInfoList()">조회</button>
            <table class="border border-dark p-3 mb-3">
                <thead>
                <tr>
                    <th>개설강의번호</th>
                    <th>강의년도</th>
                    <th>과정구분</th>
                    <th>개설강의명</th>
                    <th>총 강의 주차수</th>
                </tr>
                </thead>
                <tbody id="lectureList" th:each="progressInfo : ${progressInfoList}">
                    <!-- 강의 차시 정보 목록 표시 -->
                    <tr th:each="progressInfo : ${progressInfoList}">
                        <td th:text="${progressInfo.lectureNo.lectureNo}"></td>
                        <td th:text="${progressInfo.lectureNo.lectureYear}"></td>
                        <td th:text="${progressInfo.lectureNo.lectureCourse}"></td>
                        <td th:text="${progressInfo.lectureNo.lectureTitle}"></td>
                        <td th:text="${progressInfo.lectureNo.lectureDuration}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="container" style="display: flex; flex-direction: row;">
            <div style="flex: 1; margin-right: 20px;">
                <table class="border border-dark p-3 mb-3">
                    <thead>
                    <tr>
                        <th>강의 주차수</th>
                        <th>과정구분</th>
                    </tr>
                    </thead>
                    <tbody th:each="progressInfo : ${progressInfoList}">
                    <!-- 차시 목록 표시 -->
                    <tr>
                        <td th:text="${progressInfo.lectureNo.lectureDuration}"></td>
                        <td th:text="${progressInfo.lectureNo.lectureCourse}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div style="flex: 1; margin-right: 20px;">
                <table class="border border-dark p-3 mb-3">
                    <thead>
                    <tr>
                        <th></th>
                        <th>차시 관리 번호</th>
                        <th>차시명</th>
                    </tr>
                    </thead>
                    <tbody  th:each="progressInfo : ${progressInfoList}">
                    <!-- 강의 차시별 콘텐츠 목록 표시 -->
                    <tr>
                        <td><input type="checkbox" class="contentCheckbox"
                                   th:attr="data-nthNo=${progressInfo.nthNo},
                                   data-lectureCourse=${progressInfo.lectureNo.lectureCourse},
                                   data-contentNo=${progressInfo.contentNo.contentNo},
                                   data-lectureDuration=${progressInfo.lectureNo.lectureDuration},
                                   data-nthName=${progressInfo.nthName},
                                   data-contentName=${progressInfo.contentNo.contentName},
                                   data-runTm=${progressInfo.contentNo.runTm},
                                   data-contentFileNo=${progressInfo.contentNo.contentFileNo},
                                   data-ytbUrl=${progressInfo.contentNo.ytbUrl},
                                   data-contentUrl=${progressInfo.contentNo.contentUrl}
                                   "
                                   onclick="addCheckboxListeners(this)"></td>
                        <td th:text="${progressInfo.nthNo}"></td>
                        <td th:text="${progressInfo.nthName}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <div id="contentDetails" style="flex: 1;">
                <table class="contentDetailsTable">
                    <button id="uploadPost" onclick="">게시</button>
                    <button id="cancelPost" onclick="">게시취소</button>
                    <button id="newContent" onclick="addContent()">신규</button>
                    <button id="saveContent" onclick="editContent()">저장</button>
                    <button id="deleteContent" onclick="deleteContent()">삭제</button>
                    <tr>
                        <th>차시 관리 번호</th>
                        <td><input type="text" id="nthNo" readonly></td>
                    </tr>
                    <tr>
                        <th>과정구분</th>
                        <td><input type="text" id="lectureCourse" readonly></td>
                    </tr>
                    <tr>
                        <th>콘텐츠 관리 번호</th>
                        <td><input type="text" id="contentNo" readonly></td>
                    </tr>
                    <tr>
                        <th>강의 주차수</th>
                        <td><input type="text" id="lectureDuration" readonly></td>
                    </tr>
                    <tr>
                        <th>차시명</th>
                        <td><input type="text" id="nthName" readonly></td>
                    </tr>
                    <tr>
                        <th>콘텐츠명</th>
                        <td><input type="text" id="contentName" readonly></td>
                    </tr>
                    <tr>
                        <th>차시 학습 시간</th>
                        <td><input type="text" id="runTm" readonly></td>
                    </tr>
                    <tr>
                        <th>콘텐츠 파일 번호</th>
                        <td><input type="text" id="contentFileNo" readonly></td>
                    </tr>
                    <tr>
                        <th>Youtube 연동 번호</th>
                        <td><input type="text" id="ytbUrl" readonly></td>
                    </tr>
                    <tr>
                        <th>콘텐츠 호출 URL</th>
                        <td><input type="text" id="contentUrl" readonly></td>
                    </tr>

                </table>
            </div>
        </div>
    </div>
</section>
<!-- content end -->
</html>