@font-face {
    font-family: 'Happiness-Sans-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

* {
    font-family: 'Pretendard-Regular';
}

.title {
    font-family: 'Happiness-Sans-Bold';
}

.eng {
    font-family: 'Fugaz One';
}

body, html {
    height: 100%;
}

.custom-button-primary {
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 14px;
    background-color: #6499E9 !important;
}

.custom-button-secondary {
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s;
    font-size: 14px;
    background-color: #6c757d !important;
}