<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 로그인 form -->
<div class="container">
    <form class="form-signin" method="post" action="/login-process">
        <h2 class="form-signin-heading text-center mb-5">Welcome!</h2>
        <!-- 회원 Id 및 비밀번호 입력 필드 -->
        <p>
            <input type="text" name="loginId" class="form-control" placeholder="ID" required="" autofocus="">
        </p>
        <p>
            <input type="password"  name="loginPw" class="form-control" placeholder="PASSWORD">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit" id="login_btn">로그인</button>
    </form>

    <!-- 아이디, 비밀번호 찾기, 회원가입 버튼(폼으로 이동) -->
    <div class="">
        <a href="/lms/find-id">아이디 찾기</a>
        <span>|</span>
        <a href="/lms/find-pw">비밀번호 찾기</a>
        <span>|</span>
        <a href="/lms/signup">회원가입</a>
    </div>

    <!--
    <form class="form-signin" method="get" action="/lms/signup">
        <button class="btn btn-lg btn-warning btn-block" type="submit">회원가입</button>
    </form>
    -->
</div>


</body>
</html>