<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
    <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/security/memberInfo.css}">
</th:block>
<!-- page 고유 javascript -->
<th:block layout:fragment="script">
    <script th:src="@{/js/security/memberInfo.js}"></script>
</th:block>

<!-- content start -->
<th:block layout:fragment="content">
    <div class="container">
       개인정보 조회
        <div>
            <div class="row justify-content-start">
                <!-- 초기 페이지 : 수정 전 정보 조회 -->
                <form action="/lms/mypage/edit-info" method="post" id="originForm">
                    <div class="form-group mb-3 w-75 m-auto">
                        <label for="loginId" class="form-label fs-5 mt-5">아이디</label>
                        <span class="form-control-lg mt-2" id="loginId" th:text="${member.loginId}">
						</span>
                    </div>

                    <div class="form-group mb-3 w-75 m-auto">
                        <label for="memberName" class="form-label fs-5 mt-4">이 &nbsp; 름</label>
                        <span class="form-control-lg mt-2" id="memberName"
                              th:text="${member.memberName}"> </span>
                    </div>

                    <div class="form-group mb-3 w-75 m-auto">
                        <label for="memberTel" class="form-label fs-5 mt-4">전화번호</label>
                        <span class="form-control-lg mt-2" id="memberTel"
                                             th:text="${member.memberTel}"> </span>
                    </div>

                    <div class="form-group mb-3 w-75 m-auto">
                        <label for="memberEmail" class="form-label fs-5 mt-4">이메일</label>
                        <span class="form-control-lg mt-2" id="memberEmail"
                              th:text="${member.memberEmail}"> </span>
                    </div>

                    <button type="button" id="modifyInfoBtn" >개인정보 변경</button>
                </form>

                <!-- 수정 페이지 : 전화번호와 이메일 주소만 수정 가능 -->
                <form action="/lms/mypage/edit-info" method="post" id="modifyForm" th:object="${member}" style="display: none;">
                    <div class="form-group mb-3 w-75 m-auto">
                        <label for="loginId" class="form-label fs-5 mt-5">아이디</label>
                        <input type="text" id="loginId" name="loginId" th:field="*{loginId}"
                               th:value="${member != null} ? ${member.getLoginId()} : ''" readonly>
                    </div>

                    <div class="form-group mb-3 w-75 m-auto">
                        <label for="memberName" class="form-label fs-5 mt-4">이 &nbsp; 름</label>
                        <input type="text" id="memberName" name="loginId" th:field="*{memberName}"
                               th:value="${member != null} ? ${member.getMemberName()} : ''" readonly>
                    </div>

                    <div class="form-group mb-3 w-75 m-auto">
                        <label for="memberTel" class="form-label fs-5 mt-4">핸드폰 번호</label>
                        <input type="text" id="memberTel" name="loginId" th:field="*{memberTel}"
                               th:value="${member != null} ? ${member.getMemberTel()} : ''">
                    </div>

                    <div class="form-group mb-3 w-75 m-auto">
                        <label for="memberEmail" class="form-label fs-5 mt-4">이메일</label>
                        <input type="text" id="memberEmail" name="loginId" th:field="*{memberEmail}"
                               th:value="${member != null} ? ${member.getMemberEmail()} : ''">
                    </div>
                    <button type="submit" id="saveInfoBtn">변경 완료</button>
                </form>
                <!-- 비밀번호 변경 -->
                <a href="/lms/mypage/change-pw">
                    <button id="modifyPwBtn">비밀번호 변경</button>
                </a>
            </div>
        </div>
    </div>
</th:block>
<!-- content end -->

</html>