<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_admin.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/security/memberInfoByAdmin.css}">
</th:block>
<body>
    <!-- content start -->
    <th:block layout:fragment="content">
        <div class="col-md-5" style="width: 100%; margin-left: 150px;">
            <div style="margin-top: 30px;">
                <p class="mb-5" style="font-size: 17px; color: dimgrey;">회원 관리 &nbsp; > &nbsp; 회원 정보 조회 </p>
                <p class="title mb-5" style="margin-bottom: 40px; font-size: 25px; margin-left: 115px;">| &nbsp; 회원 정보 조회</p>
            </div>
        </div>
        <div class="container rounded shadow mb-5 mx-auto title" style="display: flex; flex-direction: column; align-items: center; text-align: center;">
            <div class="box" style="position: relative; height:735px; overflow: auto; width: 80%; padding-top: 90px;">
                <table class = "table table-hover">
                    <thead>
                    <tr class="title" style="font-size: 20px;">
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Tel</th>
                        <th scope="col">Email</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr th:each="memberItem : ${member}">
                            <td th:text="${memberItem.loginId}"></td>
                            <td th:text="${memberItem.memberName}"></td>
                            <td th:text="${memberItem.memberTel}"></td>
                            <td th:text="${memberItem.memberEmail}"></td>
                        </tr>
                    </tbody>
                </table>

                <!-- 페이지네이션 -->
                <nav aria-label="Page navigation example" class="mt-5">
                    <ul class="pagination justify-content-center">
                        <!-- 이전 페이지 링크 -->
                        <li class="page-item"
                            th:classappend="${startPage == member.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/admin/memberInfo(page=${member.pageable.pageNumber - 1}, sortBy=${sortBy})}"
                               tabindex="-1"> < </a>
                        </li>
                        <!-- 페이지 번호 링크 -->
                        <li class="page-item"
                            th:each="num : ${#numbers.sequence(startPage, endPage)}"
                            th:if="${member.totalElements > 0}">
                            <a class="page-link"
                               th:href="@{/admin/memberInfo(page=${num-1}, sortBy=${sortBy})}"
                               th:text="${num}"
                               th:classappend="${num == (member.pageable.pageNumber ?: 0) + 1} ? 'active' : ''"></a>
                        </li>


                        <!-- 다음 페이지 링크 -->
                        <li class="page-item"
                            th:classappend="${endPage == member.pageable.pageNumber + 1} ? 'disabled'">
                            <a class="page-link"
                               th:href="@{/admin/memberInfo(page=${member.pageable.pageNumber + 1}, sortBy=${sortBy})}">
                                > </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </th:block>
    <!-- content end -->
</body>
</html>