<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/security/mypage.css}">
</th:block>
<!-- page 고유 javascript -->
<th:block layout:fragment="script">
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script th:src="@{/js/security/mypage.js}"></script>
</th:block>

<body>
<!-- content start -->
<th:block layout:fragment="content">
    <div class="col-md-5" style="width: 100%; margin-left: 150px;">
        <div style="margin-top: 30px;">
            <p class="mb-3" style="font-size: 17px; color: dimgrey;">나의 정보&nbsp; > &nbsp; 수강 이력</p>
            <p class="title mb-5" style="margin-bottom: 40px; font-size: 25px; margin-left: 115px;">| &nbsp; 수강이력</p>
        </div>
    </div>
    <div class="container rounded shadow mb-5 mx-auto title" style="display: flex; flex-direction: column; align-items: center; text-align: center;">            <!-- 나의 강의 리스트 -->
        <div class="box" style="position: relative; height:735px; overflow: auto; width: 80%;">
            <div id="myLectureList" class="w-100" style="margin-top: 80px;">
                <table class = "table table-hover">
                    <thead>
                    <tr class="title" style="font-size: 20px;">
                        <th style="background-color: #ECF2FF; border-top-left-radius: 10px;">강의 과정명</th>
                        <th style="background-color: #ECF2FF;">강의명</th>
                        <th style="background-color: #ECF2FF;">강의 시작일</th>
                        <th style="background-color: #ECF2FF;">강의 종료일</th>
                        <th style="background-color: #ECF2FF; border-top-right-radius: 10px;">수료 여부</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="lectureItem : ${myLectureList}">
                        <div class="td-row">
                            <td th:text="${lectureItem.lectureCourse}"></td>
                            <td th:text="${lectureItem.lectureTitle}"></td>
                            <td th:text="${#temporals.format(lectureItem.lectureStartAt, 'yyyy-MM-dd')}"></td>
                            <td th:text="${#temporals.format(lectureItem.lectureEndAt, 'yyyy-MM-dd')}"></td>
                            <td th:text="${lectureItem.completionYn} ? '수료' : '수료 전'"></td>
                        </div>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</th:block>
<!-- content end -->
</body>
</html>