<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/security/mypage.css}">
</th:block>
<!-- page 고유 javascript -->
<th:block layout:fragment="script">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script th:src="@{/js/security/mypage.js}"></script>
</th:block>

<body>
  <!-- content start -->
  <th:block layout:fragment="content">
    <div class="container border">
      <!-- 마이페이지 -->
      <h1 class="my-5 text-center formTitle">My Page</h1>
      <div class="formBox shawdow-sm row">
        <div class="userImgBox col-md-6">
          <img src="/img/userImg.png">
        </div>
        <div class="userInfoBox col-md-6">
          <div class="fs-4" th:text="|Id : ${loginId}|"></div>
          <div class="fs-4" th:text="|Name : ${memberName}|"></div>
        </div>
      </div>

      <div class="d-flex">
        <!-- 구글 차트 나오는 영역 -->
        <div id="donutchart" style="width: 600px; height: 500px;" class="border">
        </div>
        <!-- 나의 강의 리스트 -->
        <div id="myLectureList">
          <table>
            <thead>
            <tr>
              <th>강의 과정명</th>
              <th>강의명</th>
              <th>강의 시작일</th>
              <th>강의 종료일</th>
              <th>수료 여부</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="lectureItem : ${myLectureList}">
              <td th:text="${lectureItem.lectureCourse}"></td>
              <td th:text="${lectureItem.lectureTitle}"></td>
              <td th:text="${#temporals.format(lectureItem.lectureStartAt, 'yyyy-MM-dd')}"></td>
              <td th:text="${#temporals.format(lectureItem.lectureEndAt, 'yyyy-MM-dd')}"></td>
              <td th:text="${lectureItem.completionYn} ? '수료' : '수료 전'"></td>
              <!-- <td th:text="${isLectureCompleted} ? '수료' : '수료 전'"></td>-->
            </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </th:block>
  <!-- content end -->
</body>
</html>
