<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_mem.html}">
<head>
  <title>Content page</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{css/css.css}">
</th:block>

<!-- page 고유 javascript -->
<th:block layout:fragment="script">
  <script th:src="@{js/js}"></script>
</th:block>

<!-- content start -->
<section layout:fragment="content">
  <div class="container">
    <a href="/lms/mypage/change-pw">
      <button id="changePwBtn">비밀번호 변경</button>
    </a>
  </div>
</section>
<!-- content end -->
</html>