<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout_admin.html}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<!-- page 고유 css -->
<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/security/studentList.css}">
</th:block>
<body>
<!-- content start -->
<section layout:fragment="content">
    <div>
        수강생 목록 조회
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Tel</th>
                <th>Email</th>
                <th>출결상태</th>
            </tr>
            </thead>
            <tbody>
            <!--                <tr th:if="${memberItem.memberRole == 'USER'}" th:each="memberItem : ${member}" >-->
            <tr th:each="memberItem : ${member}">
                <td th:text="${memberItem.loginId}"></td>
                <td th:text="${memberItem.memberName}"></td>
                <td th:text="${memberItem.memberTel}"></td>
                <td th:text="${memberItem.memberEmail}"></td>
                <td th:text="${memberItem.memberAttendance}"></td>
            </tr>
            </tbody>
        </table>
        <button type="button" onclick="window.location.href='/admin/memberInfo/lectures'">뒤로가기</button>
    </div>
</section>
<!-- content end -->
</body>
</html>