<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
    <!-- page 고유 css -->
    <th:block layout:fragment="css">
        <link rel="stylesheet" th:href="@{css/css.css}">
    </th:block>

    <!-- page 고유 javascript -->
    <th:block layout:fragment="script">
        <script th:src="@{/js/signUp.js}"></script>
    </th:block>
<body>
<!-- 회원가입 폼 -->
<div class="container">
    <form class="form-signup" action="/signup" method="post">
        <h2 class="form-signin-heading text-center mb-5">회원가입</h2>
        <!-- 아이디 입력 필드 -->
        <div>
            <!-- 아이디 입력 -->
            <div>
                <label for="duplicateId" class="" id="checkId">아이디</label>
                <!-- 처음 회원가입 페이지에 빈 양식 보여주기(삼항연산자 이용)-->
                <input type="text" id="duplicateId" name="loginId" class="form-control" placeholder="Id"
                       th:value="${signupDTO != null} ? ${signDTO.loginId} : ''">
            </div>
            <!-- 아이디 중복체크 버튼 -->
            <div>
                <input type="button" id="checkLoginIdBtn" value="중복체크">
                <!-- 중복된 아이디일 경우, 색상 변경-->
                <span
                    th:if="${valid_loginId}" id="valid" th:text="${valid_loginId}"
                    th:style="${valid_loginId != null ? 'color:#F96666;' : ''} "></span>
            </div>
            <div id="result"></div>
        </div>
        <!-- 비밀번호 입력 필드 -->
        <p>
            <label for="loginPw" class="sr-only">비밀번호</label>
            <input type="password" id="loginPw" name="loginPw" class="form-control" placeholder="Password" >
        </p>
        <!-- 이름 입력 필드 -->
        <p>
            <label for="" class="sr-only">이름</label>
            <input type="text" id="memberName" name="memberName" class="form-control" placeholder="Name" autofocus="">
        </p>
        <!-- 이메일 입력 필드 -->
        <p>
            <label for="" class="sr-only">이메일</label>
            <input type="text" id="memberEmail" name="memberEmail" class="form-control" placeholder="Email"  autofocus="">
        </p>
        <!-- 전화번호 입력 필드 -->
        <p>
            <label for="" class="sr-only">전화번호</label>
            <input type="text" id="memberTel" name="memberTel" class="form-control" placeholder="PhoneNumber"  autofocus="">
        </p>
        <button class="btn btn-lg btn-primary btn-block" type="submit">회원가입</button>
    </form>
</div>
</body>

</html>